@import "parts/*";

body {
	&.admin {
		background: linear-gradient(125deg, $background 0, darken($background, 10) 100%);
		background-size: 100vw 100vh;
		color: white;
	}
	#admin {
		width: 100%;
		height: 50vh;
		min-height: 300px;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		fieldset {
			text-align: center;
			width: 100%;
			margin: auto;
			position: absolute;
			top: 15%;
			bottom: 0;
			left: 0;
			right: 0;
			h1 {
				var {
					font-size: 40%;
				}
			}
			div.inputs {
			    padding: 3vh;
				b {
					margin-right: 1vw;
				}
			}
		}
		button {
		    width: 200px;
		    margin: 5px 0;
		}
	}
	#rule {
	    display: inline-block;
		margin: 5px 0;
	}
	#status {
	    display: none;
        progress {
            accent-color: $form_color_blue;
        }
	}
	#out {
    	text-align: left !important;
        margin: auto;
        width: min-content;
        max-height: 50vh;
        overflow-y: auto;
        white-space: nowrap;
        font-family: monospace;
        a {
            text-decoration: none;
            color: $form_color_blue;
        }
        div.done {
            color: lime;
        }
        div.uploading {
            color: yellow;
        }
	}
	#logout {
	    position: absolute;
	    top: $dbl_padding;
	    right: $dbl_padding;
	    text-decoration: none;
	    color: white;
	    padding: $dbl_padding;
	    border: 1px solid #CCC;
	    border-radius: 4px;
	}
}
