@import "parts/*";

body {
	&.login {
		background: linear-gradient(125deg, $background 0, darken($background, 10) 100%);
		background-size: 100vw 100vh;
		color: white;
	}
	#login {
		width: 100%;
		height: 50vh;
		min-height: 300px;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		fieldset {
			text-align: center;
			width: 100%;
			margin: auto;
			position: absolute;
			top: 15%;
			bottom: 0;
			left: 0;
			right: 0;
			h1 {
				var {
					font-size: 40%;
				}
			}
			div.inputs {
				b {
					margin-right: 1vw;
				}
				input {
				    margin-bottom: 0 !important;
				    display: inline-block !important;
				}
				button {
				    margin: 0 !important;
				}
			}
		}
	}
	#out {
		background-color: rgba(0, 0, 0, 0.11);
		line-height: 2em;
		width: 50%;
		margin: auto;
		color: $out_color;
	}
	input {
		color : $input_color;
	}
}