/* DARK THEME */
$background         : #112233;
$background_light   : #27292B;
$dark               : #1D1F21;
$bright             : #808184;
$main-color         : #323734;
$dark_border        : #4A4A4A;

$trans_white        : #fff1;
$trans_black        : #0007;

$light_gray         : #666;

$red                : #ca3c3c;
$green              : #1cb841;
$blue               : #54C1E3;
$yellow             : #f3ed3b;
$purple             : #7C72DC;
$orange             : #F3863D;

$form_color_dark    : #444;
$form_color_light   : #fff;
$form_color_red     : #d9534f;
$form_color_blue    : #428bca;
$form_color_green   : #5cb85c;
$form_color_yellow  : #f3ed3b;

$nav_color2         : #D8930D;
$nav_color3         : #95670f;
$place_color        : #AAA;
$out_color          : #D45E5E;
$input_color        : #0f3266;
