html * {
    box-sizing: border-box;
    font-family: "Meiryo UI", "Verdana", "Arial", san-serif;
}
.centered {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.centera {
    margin:auto;
}
.centerh {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.centerv {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}
.justify {
    text-align: justify !important;
}
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}
.clear {
    clear: both;
}
.vtop {
    vertical-align: top !important;
}
.vmid {
    vertical-align: middle !important;
}
.nopad {
    padding: 0 !important;
}
.pad {
    padding: $padding !important;
}
.nomargin {
    margin: 0 !important;
}
.margin {
    margin: $padding !important;
}
.marginh {
    margin-left: $padding !important;
    margin-right: $padding !important;
}
.marginv {
    margin-top: $padding !important;
    margin-bottom: $padding !important;
}
.full {
    width: 100%;
}
.half {
    width: 50%;
}
.fullh {
    height: 100%;
}
.fullvw {
    width: 100vw;
}
.halfvw {
    width: 50vw;
}
.fullvh {
    height: 100vh;
}
.halfvh {
    height: 50vh;
}
.strong {
    font-weight: bold !important;
}
.lcase {
    text-transform: lowercase;
}
.ucase {
    text-transform: uppercase;
}
.ccase {
    text-transform: capitalize;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.round {
    border-radius: 4px;
}
.nowrap {
    white-space: nowrap;
}
.overflow {
    overflow: auto;
}
.overhid {
    overflow: hidden;
}
.inline {
    display: inline-block;
}
.block {
    display: block;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.notify {
    display: block;
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    width: 50vw;
    height: calc(5vw + 100px);
    min-width: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    h1 {
        margin-bottom: $padding;
        text-align:center;
        &:before {
            display: inline-block;
            border-radius: 50%;
            color: #FFF;
            margin-right: $padding;
            font-size: 5vw;
            line-height: 6vw;
            vertical-align: middle;
            height: 6vw;
            width: 6vw;
        }
    }
    p {
        text-align: center;
    }
    &.info {
        h1 {
          color: #2667A2;
            &:before {
                content: "☝";
                background-color: #2667A2;
            }
        }
    }
    &.warn {
        h1 {
          color: #D8930D;
            &:before {
                content: "⟁";
                background-color: #D8930D;
                line-height: 5vw;
            }
        }
    }
    &.ok {
        h1 {
            color: #2C9415;
            &:before {
                content: "✔";
                background-color: #2C9415;
            }
        }
    }
    &.error {
        h1 {
            color: #960303;
            &:before {
                content: "✖";
                background-color: #960303;
            }
        }
    }
}
.fa {
    font-style: normal;
}
