#m2d2-alert {
    .m2d2-alert-back {
        z-index: 100;
    }
    .m2d2-alert-front {
        min-width: 400px;
        min-height: 100px;
        max-width: 560px;
        background-color: $background;
        color: white;
        border: 1px solid $main-color;
        outline: 2px solid $background;
        padding: $dbl_padding;
        box-shadow: 0 0 5px 1px #000;
        margin-top: -310px;
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.question::before {
            color: $blue;
            font-size: 200%;
            margin: $dbl_padding;
        }
        &.ok::before {
            color: $green;
            font-size: 200%;
            margin: $dbl_padding;
        }
        &.input::before {
            color: $orange;
            font-size: 200%;
            margin: $dbl_padding;
        }
        &.wait::before {
            color: white;
            font-size: 200%;
            margin: $dbl_padding;
            display: block;
        }
        &.error::before {
            color: $red;
            font-size: 200%;
            margin: $dbl_padding;
        }
        &.info::before {
            color: $yellow;
            font-size: 200%;
            margin: $dbl_padding;
        }

        .m2d2-alert-title {
            font-size: 200%;
            text-align: center;
            line-height: 40px;
        }
        .m2d2-alert-text {
            line-height: 20px;
            padding: $dbl_padding;
            text-align: center;
            width: 100%;
            background: $nav_color2;
            color: black;
            margin: $dbl_padding;
        }
        .m2d2-alert-field {
            border: 0;
        }
        .m2d2-alert-field, .m2d2-alert-field input, {
            width: 100%;
        }
        .m2d2-alert-buttons {
            padding: $dbl_padding;
            width : 100%;
            button {
                font-family: inherit;
                font-size: 100%;
                padding: 0.5em 1em;
                border: 0 #0000;
                text-decoration: none;
                color: #fff;
                border-radius: 4px;
                &.yes, &.ok, &.yes, {
                    float: right;
                    background-color: $green;
                }
                &.no, &.cancel {
                    float: left;
                    background-color: $red;
                }
            }
        }
    }
}