@keyframes popup {
  0%    { transform: scale(1); }
  50%   { transform: scale(1.4); }
  60%   { transform: scale(1.1); }
  70%   { transform: scale(1.2); }
  80%   { transform: scale(1); }
  90%   { transform: scale(1.1); }
  100%  { transform: scale(1); }
}
@keyframes vanish {
  0%    { transform: scale(1); }
  20%   { transform: scale(1.4); }
  100%   { transform: scale(0); }
}
.popup {
    animation: popup 0.7s;
}
.vanish {
    animation: vanish 0.5s;
}
